<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="pages/head">
</head>
<head>
<link rel="stylesheet" th:href="@{/css/customize/common.css}">
<script th:src="@{/js/pages/common.js}"></script>
<script th:src="@{/js/pages/examina/examina.js}"></script>
<script th:src="@{/js/jquery/jquery.serializeToJSON.js}"></script>
<script th:src="@{/js/jquery-validation/jquery.validate.js}"></script>
<script th:src="@{/js/jquery-validation/additional-methods.min.js}"></script>
</head>
<body>
	<div class="wrapper">
		<div th:replace="pages/menu"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0" th:text="${title}"></h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" th:text="${title}"></li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-2 offset-md-10 control-header">
							<button type="button" class="btn btn-success" id="btn-add-new" onclick="redirectScreen(0);"><i class="fas fa-plus-square"></i></button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card" id ="refresh-section">
								<!-- /.card-header -->
								<div class="card-body">
									<table class="table table-bordered" id="specDataTbl">
										<thead>
											<tr>
												<th style="width: 10px">STT</th>
												<th>Số phiếu </th>
												<th>Mã thú nuôi</th>
												<th>Tên thú nuôi</th>
												<th>Mã KH</th>
												<th>Tên KH</th>
												<th>Ngày lập phiếu</th>
												<th>Giai đoạn</th>
											</tr>
										</thead>
										<tbody id = "customerTbl">
											<input type="hidden" id="msg-add" th:value="${message}"/>
											<tr th:each="exam, state:${listExam}" class="text_data">
												<input type="hidden" class="processNum" th:value="${exam.processNum}"/>
												<input type="hidden" class="examId" th:value="${exam.id}"/>
												<input type="hidden" class="timeIn" th:value="${exam.hospitalizeDate}"/>
												<td th:text="${state.count}">1.</td>
												<td th:text="${exam.examCode}">KH0000001</td>
												<td th:text="${exam.petCode}">KH0000001</td>
												<td th:text=${exam.petName}>Trần Tiến Đức</td>
												<td th:text="${exam.cusCode}">KH0000001</td>
												<td th:text=${exam.cusName}>Số 1 Thái Hà</td>
												<td th:text=${exam.createTime}>Trần Tiến Đức</td>
												<td th:text=${exam.processStr}>Số 1 Thái Hà</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:replace="pages/footer"></div>
		<input type="hidden" id="contextRoot" th:value="${contextRoot}"/>
		<!-- /.control-sidebar -->
	</div>
</body>
</html>
