<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<script th:src="@{/js/jquery-ui/jquery-ui.min.js}" src="static/js/jquery-ui/jquery-ui.min.js"></script>
<script th:src="@{/js/pages/common.js}"></script>
<script th:src="@{/js/jquery/jquery.serializeToJSON.js}"></script>
<!-- DataTables  & Plugins -->
<script th:src="@{/js/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script
	th:src="@{/js/datatables-responsive/dataTables.responsive.min.js}"></script>
</head>
<form id="progress3" name="frmProgres3">
	<div class="multisteps-form__panel shadow p-4 rounded bg-white" id="progress3Step"
		data-animation="scaleIn" style="height: 660px;">
		<fieldset class="field-panel" style="height: 500px; overflow-y: auto;">
			<legend class="multisteps-form__title">Thông tin phiếu khám
				bệnh cận lâm sàng</legend>
			<div class="multisteps-form__content">
				<div class="form-group row">
					<div class="col-sm-12">
						<div class="customer-info-add" id="data-refresh-progress3">
							<input type="hidden" id="msg-add-progress3" th:value="${message}"/>
							<input type="hidden" id="timeInHidden" name ="timeIn" th:value="${timeIn}">
							<input type="hidden" id="mapSelectedHidden" th:value="${mapSelected}">
							<div class="pet-msg-warning msg-warning"></div>
							<!-- <input type="hidden" id="examCodeHidden" th:value="${examCodeHidden}"/> -->
							<table id="tableExam" class="table table-bordered">
								<thead>
									<tr>
										<th class="text-center" style="min-width: 75px"></th>
										<th class="text-center" style="min-width: 180px;">Ngày thực hiện</th>
										<th class="text-center" style="min-width: 160px;">Cận lâm sàng</th>
										<th class="text-center" style="min-width: 160px;">SP đi kèm</th>
										<th class="text-center" style="min-width: 200px;">Mô tả chi tiết</th>
										<th class="text-center" style="min-width: 160px;">Cơ sở</th>
										<th class="text-center" style="min-width: 160px;">Bác sĩ</th>
										<th class="text-center" style="min-width: 100px;">Insert file</th>
									</tr>
								</thead>
								<tbody>
								<th:block th:unless="${not #lists.isEmpty(lstProgress3s)}">
									<tr class="tr_clone">
										<td class="add-remove-row align-middle">
											<input type="hidden" name ="id">
											<button type="button"
												class="btn btn-success btn-xs tr_clone_add"
												onclick="addNewRow(this);">
												<i class="fas fa-plus-square"></i>
											</button>
											<button type="button"
												class="btn btn-danger btn-xs tr_clone_add display-init del-tr-clone"
												onclick="removeRow(this);">
												<i class="fas fa-minus-square"></i>
											</button>
										</td>
										<td class="align-middle">
											<!-- <input type="text" name ="certificateBirth" class="form-control txt-popup-add-cus" id="certiBirth" placeholder="Ngày sinh"> -->
											<div class="input-group date reserver-date"
												id="reservationdate1" data-target-input="nearest">
												<input type="text" class="form-control datetimepicker-input"
													data-target="#reservationdate1" name="executionDateStr" />
												<div class="input-group-append datetimepicker-input"
													data-target="#reservationdate1"
													data-toggle="datetimepicker">
													<div class="input-group-text">
														<i class="fa fa-calendar"></i>
													</div>
												</div>
											</div>
										</td>
										<td class="align-middle"><select
											class="custom-select form-control-border slt-popup-add-cus"
											name="serviceCode" id="breedAdd1" onchange="changeFunc(this);">
												<option value="0">-- Chọn --</option>
												<option th:each="service : ${lstServiceSubEx}"
													th:value="${service.group3ndCode}"
													th:utext="${service.group3ndName}" />
										</select></td>
										<td class="align-middle text-center">
											<!-- <input type="text" name ="certificateBirth" class="form-control txt-popup-add-cus" id="certiBirth" placeholder="Ngày sinh"> -->
											<button type="button" class="btn btn-success btn-xs" onclick="showProdPopup(this);"><i class="fas fa-list-ol"></i></button>
										</td>
										<td class="align-middle">
											<!-- <input type="text"
												name="remark" class="form-control txt-popup-add-cus"
												placeholder="Mô tả"> -->
												<textarea class="form-control txt-popup-add-cus" rows="1" 
													name="remark" placeholder="Mô tả">
												</textarea>
										</td>
										<td id="branch-droplist-add1"
											class="drop-list-branch-add align-middle"><select id="branchAdd1"
											class="custom-select form-control-border slt-popup-add-cus"
											name="branchCode">
												<option value="0">-- Chọn --</option>
												<option th:each="branch : ${branchs}"
													th:value="${branch.branchCode}" th:utext="${branch.branchName}" />
										</select></td>
										<td id="doctor-droplist-add1"
											class="drop-list-doctor-add align-middle"><select id="doctorAdd1"
											class="custom-select form-control-border slt-popup-add-cus"
											name="doctorCode">
												<option value="0">-- Chọn --</option>
												<option th:each="doctor : ${lstDoctor}"
													th:value="${doctor.doctorCode}" 
													th:utext="${doctor.doctorName}" />
										</select></td>
										<td class="align-middle">
											    <div class="image-upload">
											    <label for="file-input1">
											        <i class="fas fa-file-import"></i>
											    </label>
											     <span id="file_name_upload1">
											    </span>
											    <input id="file-input1" name="fileImage" type="file" onchange="showFileName(this);"/>
											</div>
											<input type="hidden" name="pathHidden">
											<input type="hidden" name="fileName">
										</td>
										</tr>
										</th:block>
										
										<th:block th:if="${not #lists.isEmpty(lstProgress3s)}">
										<tr class="tr_clone" th:each="progress3Dto, state:${lstProgress3s}">
										<td class="add-remove-row align-middle">
											<input type="hidden" th:value="${progress3Dto.id}" name ="id">
											<button type="button"
												class="btn btn-success btn-xs tr_clone_add"
												onclick="addNewRow(this);">
												<i class="fas fa-plus-square"></i>
											</button>
											<button type="button"
												class="btn btn-danger btn-xs tr_clone_add del-tr-clone"
												onclick="removeRow(this);">
												<i class="fas fa-minus-square"></i>
											</button>
										</td>
										<td class="align-middle">
											<!-- <input type="text" name ="certificateBirth" class="form-control txt-popup-add-cus" id="certiBirth" placeholder="Ngày sinh"> -->
											<div class="input-group date reserver-date"
												th:id="'reservationdate'+ ${state.count}" data-target-input="nearest">
												<input type="text" class="form-control datetimepicker-input"
													th:attr="data-target='#reservationdate' + ${state.count}" 
													name="executionDateStr" th:value="${progress3Dto.executionDateStr}" />
												<div class="input-group-append datetimepicker-input"
													th:attr="data-target='#reservationdate' + ${state.count}"
													data-toggle="datetimepicker">
													<div class="input-group-text">
														<i class="fa fa-calendar"></i>
													</div>
												</div>
											</div>
										</td>
										<td class="align-middle"><select
											class="custom-select form-control-border slt-popup-add-cus"
											name="serviceCode" id="breedAdd1" onchange="changeFunc(this);">
												<option value="0">-- Chọn --</option>
												<option th:each="service : ${lstServiceSubEx}"
													th:selected="${service.group3ndCode} == ${progress3Dto.serviceCode}"
													th:value="${service.group3ndCode}"
													th:utext="${service.group3ndName}" />
										</select></td>
										<td class="align-middle text-center">
											<button type="button" class="btn btn-success btn-xs" onclick="showProdPopup(this);"><i class="fas fa-list-ol"></i></button>
										</td>
										<td class="align-middle">
											<textarea class="form-control txt-popup-add-cus" rows="1" 
												th:text="${progress3Dto.remark}" name="remark" placeholder="Mô tả">
											</textarea>
											<!-- <input type="text" th:value="${progress3Dto.remark}"
												name="remark" class="form-control txt-popup-add-cus"
												placeholder="Mô tả"> -->
										</td>
										<td th:id="'branch-droplist-add' + ${state.count}"
											class="drop-list-branch-add align-middle"><select th:id="'branchAdd' + ${state.count}"
											class="custom-select form-control-border slt-popup-add-cus"
											name="branchCode">
												<option value="0">-- Chọn --</option>
												<option th:each="branch : ${branchs}"
													th:selected="${branch.branchCode} == ${progress3Dto.branchCode}"
													th:value="${branch.branchCode}" 
													th:utext="${branch.branchName}" />
										</select></td>
										<td th:id="'doctor-droplist-add' + ${state.count}"
											class="drop-list-doctor-add align-middle"><select th:id="'doctorAdd' + ${state.count}"
											class="custom-select form-control-border slt-popup-add-cus"
											name="doctorCode">
												<option value="0">-- Chọn --</option>
												<option th:each="doctor : ${lstDoctor}"
													th:selected="${doctor.doctorCode} == ${progress3Dto.doctorCode}"
													th:value="${doctor.doctorCode}" 
													th:utext="${doctor.doctorName}" />
										</select></td>
										<td class="align-middle">
											    <div class="image-upload">
											    <label th:attr="for='file-input' + ${state.count}">
											        <i class="fas fa-file-import"></i>
											    </label>
											     <span th:id="'file_name_upload' + ${state.count}" th:text="${progress3Dto.fileName}">
											    </span>
											    <input th:id="'file-input' + ${state.count}" name="fileImage" type="file" onchange="showFileName(this);"/>
											</div>
											<input type="hidden" th:value="${progress3Dto.path}" name="pathHidden">
											<input type="hidden" th:value="${progress3Dto.fileName}" name="fileName">
										</td>
										</tr>
										</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="row">
			<div class="button-row d-flex mt-4 col-4">
				<button class="btn btn-primary js-btn-prev" type="button"
					title="Trở về">Trở về</button>
			</div>
			<div class="button-row d-flex mt-4 col-4">
				<button class="btn btn-primary" type="button" style="margin: auto;"
					title="Lưu" onclick="process3();">Lưu</button>
			</div>
			<div class="button-row d-flex mt-4 col-4">
				<button class="btn btn-primary ml-auto js-btn-next" type="button"
					title="Tiếp tục">Tiếp tục</button>
			</div>
		</div>
		 <!-- jquery for date picker  start -->
<script th:src="@{/js/moment/moment.min.js}"></script>
<script th:src="@{/js/inputmask/jquery.inputmask.min.js}"></script>
<script th:src="@{/js/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}" src="static/js/bootstrap/bootstrap.bundle.min.js"></script>
 <!-- jquery for date picker  end -->
	</div>
	<div th:replace="pages/examination/popupPS"></div>
</form>
</html>