<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="modal fade" id="editBreedModal" role="dialog">
		<div class="modal-dialog modal-dialog-custom">

			<!-- Modal content-->
			<div class="modal-content modal-content-custom">
				<div class="modal-header">
					<h5>Thông tin chi tiết</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="card-body">
					<div class="card-body" id="detailBreedEdit">
						<form name="objFrmEdit" id="cusFormEdit">
							<input type="hidden" th:value="${breedDto.id}" name ="id">
							<fieldset class="field-panel">
								<legend>Thông tin loài</legend>
								<!-- <div class="form-group row">
								<span>Thông tin khách hàng</span>
							</div> -->
								<div class="form-group form-group-custom row">
									<label for="cuscodeEdit" class="col-sm-3 col-form-label lbl-custom">Mã
										loài</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="breedcodeEdit" readonly="readonly" name="breedCode"
											th:value="${breedDto.breedCode}" placeholder="Mã loài">
									</div>
								</div>
								<div class="form-group form-group-custom row">
									<label for="cusnameEdit" class="col-sm-3 col-form-label lbl-custom">Tên
										loài</label>
									<div class="col-sm-9 msg-warning">
										<input type="text" class="form-control" id="breednameEdit" name="breedName"
											th:value="${breedDto.breedName}" placeholder="Tên loài">
									</div>
								</div>
								
								<div class="form-group form-group-custom row">
									<label for="noteEdit" class="col-sm-3 col-form-label lbl-custom">Đặc điểm</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="noteEdit" name="spectify"
											th:value="${breedDto.spectify}" placeholder="Đặc điểm">
									</div>
								</div>
								
								<div class="form-group form-group-custom row">
									<label for="noteEdit" class="col-sm-3 col-form-label lbl-custom">Ghi
										chú</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="noteEdit" name="descript"
											th:value="${breedDto.descript}" placeholder="Ghi chú">
									</div>
								</div>
								
								<!-- upload file -->
									<div class="form-group form-group-custom row">
										<label for="noteAdd" class="col-sm-3 col-form-label lbl-custom">Ảnh</label>
										<div class="col-sm-6">
		   									<input type="file" class="form-control-file" name="fileImage" accept="image/png, image/jpeg" id="imgInpEdit" />
										</div>
										<div class="col-sm-3">
											<th:block th:if="${#strings.isEmpty(breedDto.path)}">
												<img id="imagePreviewEdit" th:src="@{/images/default-thumb.gif}" alt="your image" class="image-product"/>
											</th:block>
											<th:block th:unless="${#strings.isEmpty(breedDto.path)}">
												<img id="imagePreviewEdit" th:src="@{${breedDto.path}}" alt="your image" class="image-product"/>
											</th:block>
										</div>
										<input type="hidden" th:value="${breedDto.path}" id ="pathHidden" name="pathHidden">
									</div>
							</fieldset>
						</form>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
                  <button type="button" class="btn btn-warning" onclick="editAction();">Cập nhật</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                </div>
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
				</div> -->
			</div>

		</div>
	</div>
</body>
</html>