<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-dialog-custom">

			<!-- Modal content-->
			<div class="modal-content modal-content-custom">
				<div class="modal-header">
					<h5>Thông tin chi tiết</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="card-body">
					<div class="card-body" id="detailBreed">
						<fieldset class="field-panel">
							<legend>Thông tin loài</legend>
							<!-- <div class="form-group row">
							<span>Thông tin khách hàng</span>
						</div> -->
							<div class="form-group form-group-custom row">
								<label for="cuscodeDtl" class="col-sm-3 col-form-label lbl-custom">Mã
									loài</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="cuscodeDtl" readonly="readonly"
										th:value="${breedDto.breedCode}" placeholder="Mã loài">
								</div>
							</div>
							<div class="form-group form-group-custom row">
								<label for="cusnameDtl" class="col-sm-3 col-form-label lbl-custom">Tên
									loài</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="cusnameDtl" readonly="readonly"
										th:value="${breedDto.breedName}" placeholder="Tên loài">
								</div>
							</div>
							<div class="form-group form-group-custom row">
								<label for="noteDtl" class="col-sm-3 col-form-label lbl-custom">Ghi
									chú</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="noteDtl" readonly="readonly"
										th:value="${breedDto.descript}" placeholder="Ghi chú">
								</div>
							</div>
						</fieldset>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal" onclick="showAddPopup();">Thêm mới</button>
                  <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="showEditPopup();">Cập nhật</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                </div>
				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
				</div> -->
			</div>

		</div>
	</div>
</body>
</html>