<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="pages/head">
</head>
<head>
<link rel="stylesheet" th:href="@{/css/customize/common.css}">
<script th:src="@{/js/pages/catalog/parasitic.js}"></script>
<script th:src="@{/js/pages/common.js}"></script>
<script th:src="@{/js/jquery/jquery.serializeToJSON.js}"></script>
<script th:src="@{/js/jquery-validation/jquery.validate.js}"></script>
<script th:src="@{/js/jquery-validation/additional-methods.min.js}"></script>
</head>
<body>
	<div class="wrapper">
		<div th:replace="pages/menu"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0" th:text="${title}"></h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" th:text="${title}"></li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-2 offset-md-10 control-header">
							<button type="button" class="btn btn-success" id="btn-add-new" onclick="showAddPopup();"><i class="fas fa-plus-square"></i></button>
							<!-- <button type="button" class="btn btn-success swalDefaultSuccess" onclick="showDialogConfirm();"><i class="fas fa-plus-square"></i></button> -->
							<button type="button" class="btn btn-success" data-card-widget="collapse" data-toggle="collapse" data-target="#formSearchCustomer"><i class="fas fa-search-plus"></i></button>
						</div>
					</div>
					<div class="row card card-primary collapsed-card">
		              <div id="formSearchCustomer" class="collapse col-md-8 offset-md-2">
		              	<form th:object="${parasiticTest}" name="parasiticTestSearchFrm" id="cusSearchForm">
		              		<fieldset class="field-panel">
								<legend>Tìm kiếm thông tin xét nghiệm kí sinh trùng</legend>
								<div class="form-group form-group-custom row">
									<label for="cuscode" class="col-sm-3 col-form-label lbl-custom">Mã xét nghiệm kí sinh trùng</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="cuscode"
											th:field="*{parasiticTestCode}" placeholder="Mã xét nghiệm kí sinh trùng">
									</div>
								</div>
								<div class="form-group form-group-custom row">
									<label for="cusname" class="col-sm-3 col-form-label lbl-custom">Tên xét nghiệm kí sinh trùng</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="cusname"
											th:field="*{parasiticTestName}" placeholder="Tên xét nghiệm kí sinh trùng">
									</div>
								</div>
								<div class="form-group form-group-custom row">
									<div class="col-sm-12 advance-search">
										<button type="button" id="btn-search" onclick="searchAdvance();" class="btn btn-success"><i class="fas fa-search"></i>Tìm kiếm</button>
									</div>
								</div>
							</fieldset>
		              	</form>
		              </div>
		            </div>
					<div class="row">
						<div class="col-md-12">
							<div class="card" id ="refresh-section">
								<!-- /.card-header -->
								<div class="card-body">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th style="width: 10px">STT</th>
												<th>Mã xét nghiệm kí sinh trùng</th>
												<th>Tên xét nghiệm kí sinh trùng</th>
												<th>Ghi chú</th>
											</tr>
										</thead>
										<tbody id = "customerTbl">
											<input type="hidden" id="msg-add" th:value="${message}"/>
											<tr th:each="parasitic, state:${lstParasiticTest.datas}" class="text_data">
												<td th:text="${lstParasiticTest.currentPage == 1 ? state.count*lstParasiticTest.currentPage : (lstParasiticTest.maxSize*(lstParasiticTest.currentPage-1))+state.count}">1.</td>
												<td th:text="${parasitic.parasiticTestCode}"></td>
												<td th:text=${parasitic.parasiticTestName}></td>
												<td th:text=${parasitic.descript}></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
								<!-- <div class="card-footer clearfix" th:if="${#lists.size(lstCustomer.datas) >= lstCustomer.maxSize}"> -->
								<div class="card-footer clearfix">
									<ul class="pagination pagination-sm m-0 float-right">
										<li class="page-item"><a class="page-link" onclick="firstPage();">&laquo;</a></li>
										<th:block th:each="i: ${#numbers.sequence(1,lstParasiticTest.lastPage)}">
											<li class="page-item" th:classappend="${i == lstParasiticTest.currentPage} ? active : ''"><a class="page-link" onclick="nextPage(this);" th:text="${i}"></a></li>
										</th:block>
										<li class="page-item"><a class="page-link" onclick="lastPage();">&raquo;</a></li>
									</ul>
								</div>
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<!-- Main row -->
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:replace="pages/footer"></div>
		<!-- /.control-sidebar -->
	</div>
	<div th:replace="pages/catalog/parasiticCrud"></div>
	<div th:replace="pages/catalog/parasiticAddNew"></div>
	<div th:replace="pages/catalog/parasiticEdit"></div>
</body>
</html>
