<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="pages/head">
</head>
<head>
<link rel="stylesheet" th:href="@{/css/customize/common.css}">
<script th:src="@{/js/pages/catalog/stool.js}"></script>
<script th:src="@{/js/pages/common.js}"></script>
<script th:src="@{/js/jquery/jquery.serializeToJSON.js}"></script>
<script th:src="@{/js/jquery-validation/jquery.validate.js}"></script>
<script th:src="@{/js/jquery-validation/additional-methods.min.js}"></script>
</head>
<body>
	<div class="wrapper">
		<div th:replace="pages/menu"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0" th:text="${title}"></h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" th:text="${title}"></li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-2 offset-md-10 control-header">
							<button type="button" class="btn btn-success" id="btn-add-new" onclick="showAddPopup();"><i class="fas fa-plus-square"></i></button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card" id ="refresh-section">
								<!-- /.card-header -->
								<div class="card-body">
									<table id="stoolDataTbl" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th class="col-no-1" style="width: 5%" >STT</th>
												<th class="col-no-2" style="width: 25%">Mã xét nghiệm phân</th>
												<th class="col-no-3" style="width: 35%">Tên xét nghiệm phân</th>
												<th class="col-no-4" style="width: 35%">Ghi chú</th>
											</tr>
										</thead>
										<tbody>
											<input type="hidden" id="msg-add" th:value="${message}"/>
											<tr th:each="stool, state:${lstStool.datas}" class="text_data">
												<td  class="col-no-1" th:text="${lstStool.currentPage == 1 ? state.count*lstStool.currentPage : (lstStool.maxSize*(lstStool.currentPage-1))+state.count}">1.</td>
												<td  class="col-no-2" th:text="${stool.stoolCode}">Mã xét nghiệm phân</td>
												<td  class="col-no-3" th:text=${stool.stoolName}>Tên xét nghiệm phân</td>
												<td  class="col-no-4" th:text=${stool.descript}>Ghi chú</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<!-- Main row -->
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:replace="pages/footer"></div>
		<!-- /.control-sidebar -->
	</div>
	<div th:replace="pages/catalog/stoolCrud"></div>
	<div th:replace="pages/catalog/stoolAddNew"></div>
	<div th:replace="pages/catalog/stoolEdit"></div>
<!-- </body> -->
</html>
