<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="pages/head">
</head>
<head>
<script th:src="@{/js/pages/common.js}"></script>
<script th:src="@{/js/jquery/jquery.serializeToJSON.js}"></script>
<script th:src="@{/js/jquery-validation/jquery.validate.js}"></script>
<script th:src="@{/js/jquery-validation/additional-methods.min.js}"></script>
<script th:src="@{/js/pages/catalog/vacination.js}"></script>
<link rel="stylesheet" th:href="@{/css/customize/common.css}">
<link rel="stylesheet" th:href="@{/css/customize/vacination.css}">
</head>
<body>
	<div class="wrapper">
		<div th:replace="pages/menu"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0" th:text="${title}"></h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" th:text="${title}"></li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-2 offset-md-10 control-header">
							<button type="button" class="btn btn-success" id="btn-add-new" onclick="showAddPopup();"><i class="fas fa-plus-square"></i></button>
						</div>
					</div>
					<div class="row card card-primary collapsed-card">
		              <div id="formSearchPet" class="collapse col-md-8 offset-md-2">
		              	<form th:object="${vacine}" name="petSearchFrm" id="petSearchForm">
		              		<fieldset class="field-panel">
								<legend>Tìm kiếm thông tin tiêm phòng</legend>
								<div class="form-group form-group-custom row">
									<label for="cuscode" class="col-sm-3 col-form-label lbl-custom">Mã tiêm phòng</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="vacineCode"
											th:field="*{vacineCode}" placeholder="Mã tiêm phòng">
									</div>
								</div>
								<div class="form-group form-group-custom row">
									<label for="cusname" class="col-sm-3 col-form-label lbl-custom">Tên </label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="vacineName"
											th:field="*{vacineName}" placeholder="Tên">
									</div>
								</div>
								<div class="form-group form-group-custom row">
									<div class="col-sm-12 advance-search">
										<button type="button" id="btn-search" onclick="searchAdvance();" class="btn btn-success"><i class="fas fa-search"></i>Tìm kiếm</button>
									</div>
								</div>
							</fieldset>
		              	</form>
		              </div>
		            </div>
					<div class="row">
						<div class="col-12">
							<!-- /.card-header -->
							<div class="card" id="refresh-section">
								<div class="card-body">
									<table id="vacineDataTbl" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th class="col-no-1 text-center">STT</th>
												<th class="col-no-2 text-center">Mã</th>
												<th class="col-no-3 text-center">Tên</th>
												<th class="col-no-4 text-center">Ghi chú</th>
											</tr>
										</thead>
										<tbody>
											<input type="hidden" id="msg-add" th:value="${message}"/>
											<tr th:each="vacination, state:${lstVacination}" class="text_data">
												<td  class="col-no-1" th:text="${state.count}">1.</td>
												<td  class="col-no-2" th:text="${vacination.vacineCode}">Mã</td>
												<td  class="col-no-3" th:text=${vacination.vacineName}>Tên</td>
												<td  class="col-no-4" th:text=${vacination.descript}>Ghi chú</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<!-- Main row -->
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<div th:replace="pages/footer"></div>
		<!-- /.control-sidebar -->
	</div>
	<div th:replace="pages/catalog/vacinationCrud"></div>
	<div th:replace="pages/catalog/vacinationAddNew"></div>
	<div th:replace="pages/catalog/vacinationEdit"></div>
</body>
</html>