<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body class="hold-transition sidebar-collapse sidebar-mini layout-fixed">
	<!-- Navbar -->
	<nav class="main-header navbar navbar-expand navbar-white navbar-light">
		<!-- Left navbar links -->
		<ul class="navbar-nav">
			<li class="nav-item push-menu"><a class="nav-link" data-widget="pushmenu"
				href="#" role="button"><i class="fas fa-bars"></i></a></li>
			<li class="nav-item d-none d-sm-inline-block" style="margin-top: -10px;"><a href="#"
				class="nav-link"><span style="color: #f9a11c; font-size: 30px;">2Vet - Hệ thống quản lý thú y</span></a></li>
		</ul>

		<!-- Right navbar links -->
		<ul class="navbar-nav ml-auto">
			<!-- Messages Dropdown Menu -->
			<li class="nav-item dropdown"><a class="nav-link avatar-profile"
				data-toggle="dropdown" href="#">
					<span class="image">
						<img th:src="@{/img/avatar5.png}"
							class="img-circle elevation-2" alt="User Image" height="35px">
					</span>
					<span class="info info-custom" th:text="${session.userInfo.username}">
			        </span>
			</a>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right menu-account">
					<a href="#" class="dropdown-item">
						<p class="text-sm text-muted">
							<i class="fas fa-users-cog mr-1"></i> Settings
						</p> <!-- Message End -->
					</a> 
					<!-- <a href="#" class="dropdown-item">
						<p class="text-sm text-muted">
							<i class="fas fa-sign-out-alt mr-1"></i> Logout
						</p> Message End
					</a> -->
					<form action="#" th:action="@{/logout}" method="POST">
						<button type="submit" class="btn-logout"><i class="fas fa-sign-out-alt mr-1 icon-btn-logout"></i><span class="text-logout-btn">Logout</span></button>
					</form>
					 <!-- <a class="dropdown-item"  href="@{/logout}" custom:linkMethod="post">
						<p class="text-sm text-muted">
							<i class="fas fa-sign-out-alt mr-1"></i> Logout
						</p> Message End
					</a> -->
				</div></li>
			<li class="nav-item"><a class="nav-link"
				data-widget="fullscreen" href="#" role="button"> <i
					class="fas fa-expand-arrows-alt"></i>
			</a></li>
		</ul>
	</nav>
	<!-- /.navbar -->

	<!-- Main Sidebar Container -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
		<a th:href="@{/home}" class="brand-link"> <img
			th:src="@{/images/favicon.png}" alt="2Vet Logo"
			class="brand-image img-circle elevation-3" style="opacity: .8">
			<span class="brand-text font-weight-light">2Vet</span>
		</a>
		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar user panel (optional) -->
			<!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img th:src="@{/img/avatar5.png}" class="img-circle elevation-2"
						alt="User Image">
				</div>
				<div class="info">
					<a href="#" class="d-block">Nam Nguyen</a>
				</div>
			</div> -->

			<!-- SidebarSearch Form -->
			<div class="form-inline">
				<div class="input-group" data-widget="sidebar-search">
					<input class="form-control form-control-sidebar" type="search"
						placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<button class="btn btn-sidebar">
							<i class="fas fa-search fa-fw"></i>
						</button>
					</div>
				</div>
			</div>

			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column"
					data-widget="treeview" role="menu" data-accordion="false">
					<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
           			<th:block th:each="menu, state : ${session.lstMenu}">
					<li class="nav-item" th:classappend="${menu.openClass} ? menu-open : ''">
						<a href="${menu.url}" th:href="@{${menu.url}}" class="nav-link" th:classappend="${menu.activeClass} ? active : ''">
							<i class="nav-icon icon-menu-parent-customize" th:classappend="${menu.icon}"></i>
							<label th:text="${menu.name}"></label>
							<i th:if="${menu.childs!=null and !menu.childs.empty}" class="right fas fa-angle-left"></i>
						</a>
						<ul class="nav nav-treeview menu-child-customize"
							th:if="${not #lists.isEmpty(menu.childs)}">
							<li class="nav-item" th:each="child, stateChile : ${menu.childs}">
								<a href="${child.url}" th:href="@{${child.url}}" class="nav-link" th:classappend="${child.activeClass} ? active : ''">
									<i class="far nav-icon icon-menu-child-customize" th:classappend="${child.icon}"></i>
									<p th:text="${child.name}"></p>
								</a>
							</li>
						</ul>
					</li>
					</th:block>
				</ul>
			</nav>
			<!-- /.sidebar-menu -->
		</div>
		<input type="hidden" id="contextRootSession" th:value="${session.contextRoot}">
		<input type="hidden" th:value="@{/images/default-thumb.gif}" id ="defaultImg">
		<!-- /.sidebar -->
	</aside>
</body>
</html>
